/singiltonPattern/nbproject/private/
/singiltonPattern/build/
/singiltonPattern/dist/
/builderPattern/nbproject/private/
/builderPattern/build/
/builderPattern/dist/
/factoryMethod/nbproject/private/
/factoryMethod/build/
/factoryMethod/dist/